include .coveragerc
include .pre-commit-config.yaml
include LICENSE.md
include NEWS.md
include noxfile.py
include requirements*.in

recursive-exclude news *
recursive-exclude src *.c
recursive-exclude tests *

recursive-include src *.pyx
